<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <dubbo:application name="dubbo-a" />

    <dubbo:registry address="zookeeper://10.200.4.74:2181" />

    <dubbo:consumer check="false" timeout="300000" retries="0"/>

    <dubbo:reference id="invoiceRemoteService" interface="com.tims.invoice.api.IInvoiceRemoteService"/>
    <dubbo:reference id="orderInvoiceInfoService" interface="com.com.tims.lvmama.product.service.OrderInvoiceInfoService"/>



</beans>